@{
    ViewData["Title"] = "Signed Out";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card material-card">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">
                        <i class="material-icons" style="vertical-align: middle;">check_circle</i>
                        Successfully Signed Out
                    </h4>
                </div>
                <div class="card-body text-center">
                    <p class="lead">You have been successfully signed out of the AI Search application.</p>
                    <p class="text-muted">
                        Thank you for using our service. You can sign in again anytime to continue using the application.
                    </p>
                    <div class="mt-4">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                            <i class="material-icons" style="vertical-align: middle;">home</i>
                            Go to Home
                        </a>
                        <a asp-controller="Account" asp-action="SignIn" class="btn btn-outline-primary ms-2">
                            <i class="material-icons" style="vertical-align: middle;">login</i>
                            Sign In Again
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>